.profile-avatar {
  border-radius: 9999px;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  width: 6rem
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.pic-column {
  text-align: center !important;
}

.profile-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem
}
